body {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

/* Font Weights */
.wt300 { font-weight: 300; }
.wt400 { font-weight: 400; }
.wt700 { font-weight: 700; }
.wt800 { font-weight: 800; }
.wt900 { font-weight: 900; }

/* Standard tags that were not working */
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.12rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.75rem; }

i { font-style: italic; }


/* Overall CSS */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 480px;
}

.wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.main_60 {
  width: 60%;
  display: flex;
  box-sizing: border-box;
  align-content: flex-start;
  padding: 2rem 1.5rem;
}

.sub_40 {
  width: 40%;
  box-sizing: border-box;
  padding: 2rem 1.5rem 2rem 1rem;
}

.story_main {
  box-sizing: border-box;
}

.img-lg {
  max-width: 100%;
  max-height: 100%;
  align-self: start;
}

.uc {
  text-transform: uppercase;
}

.icon {
  height: 30px;
  display: block;
  transition: height 0.2s;
}


/* //////// HEADER SECTION //////// */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: #800080;
}

.nav-bar {
  width: 1600px;
  display: flex;
}

.brand {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.brand-logo {
  height: 2.75rem;
  padding-top: 0.2rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.logotype {
  font-size: 1.5rem;
  color: #c9ae7b;
  transition: all .5s ease-in-out;
}

/* Navigation for wide screens */
.full {
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
}

.full-nav {
  display: inline-flex;
}

.full-nav li {
  font-family: 'Merriweather Sans', sans-serif;
  color: burlywood;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.full-nav a {
  text-decoration: none;
}

.full-nav a:hover {
  color: white;
  cursor: pointer;
}

/* Navigation for small screens */
.mobile {
  display: none;
  align-items: center;
  flex-grow: 3;
  padding-right: 0.75rem;
}

.mobile-nav {
  display: none;
}

.mobile-nav li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


@media only screen and (max-width: 700px) {
  /* Controls visibillity of full and mobile menus */
  .brand {
    flex-grow: 0;
  }
  .mobile {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  .mobile-nav {
    display: inline-flex;
    flex-grow: 3;
    justify-content: space-around;
    align-items: center;
  }
  .full-nav {
    display: none;
  }
  .logotype {
    display: none;
  }
  .icon:hover {
    height: 35px;
  }
}

/* //////// BANNER SECTION //////// */

#banner-section.wrap {
  background-color: cornsilk;
}

.banner {
  display: flex;
  width: 1600px;
  background-color: cornsilk;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .banner {
    display: inline-block;
    width: 100%;
    align-content: center;
  }
  #banner-section .main_60 {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-content: flex-start;
    padding: 0rem 0rem;
  }
  #banner-section .sub_40 {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem;
  }
}

.button {
  background-color: purple;
  color: wheat;
  padding: 1.25rem 1.5rem;
  width: 33.3%;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  min-width: 145px;
}

.button:hover {
  color: orange;
}

#banner-section .sub_40 {
  display: flex;
  flex-wrap: wrap;
}

#banner-section h1 {
  /* width: 40%; */
  font-size: 3rem;
  line-height: 1.1;
  color: #664352;
  padding-bottom: 2.25rem;
}

#banner-section h3 {
  /* width: 40%; */
  font-size: 1.3rem;
  line-height: 1.6;
  color: #666666;
  padding-bottom: 3rem;
}


/* //////// INFORMATION SECTION //////// */

.information {
  display: flex;
  width: 1600px;
}

#information-section .main_60 {
  flex-wrap: wrap;
  align-content: flex-start;
}

#information-section h2 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 400;
  color: #800080;
  padding-bottom: 1.5rem;
}

#information-section h4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.1;
  color: #666666;
  padding-bottom: 0.5rem;
}

#information-section p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #666666;
  padding-bottom: 0.75rem;
}

#information-section .credit {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.9rem;
    text-align: right;
    color: #666666;
    letter-spacing: 1;
}

#information-section .story_main {
  padding-top: 2rem;
}

#information-section .sub_40 {
  align-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0rem 2rem 0rem;
  border-left: 1pt solid burlywood;
}

p.article-detail {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.075rem;
  font-weight: 300;
  line-height: 1.5;
  color: #666666;
  padding: 0;
}

#information-section a {
  font-size: 1.05rem;
  display: block;
  color: DarkMagenta;
  font-weight: 400;
  cursor: pointer;
  margin-top: 0.75rem;
}

#information-section a:hover {
  color: orange;
}

.credit {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.9rem;
  text-align: right;
  color: #666666;
  letter-spacing: 1;
}

@media only screen and (max-width: 700px) {
  /* Controls visibillity of full and mobile menus */
  #main-info {
    display: none;
  }
}

/* INFORMATION ARTICLES */

#information-section .info {
  display: flex;
  border-bottom: 1pt solid burlywood;
  padding: 1rem 1.5rem 1rem 1rem;
}

#information-section .info:first-child {
  padding-top: 0;
}

#information-section .info:last-child {
  background-color: cornsilk;
  border-bottom: none;
}

.img-full {
  display: block;
  width: 35%;
  align-self: flex-start;
}

.img-mobile {
  display: none;
  width: 100%;
  align-self: flex-start;
}

.info-sub-txt {
  align-self: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media only screen and (max-width: 700px) {
  /* Controls visibillity of full and mobile menus */
  #information-section .info {
    display: inline-block;
    border-bottom: none;
    padding: 0;
  }
  #information-section .sub_40 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 1rem 3rem 1rem; */
  }
  #information-section .info:last-child {
    background-color: white;
  }
  #information-section .sub_40 {
    width: 100%;
    padding: 2rem 1.5rem 2rem 1rem;
  }
  #information-section .img-full {
    display: none;
  }
  #information-section .img-mobile {
    display: block;
  }
  #information-section .info-sub-txt {
    align-self: center;
    padding: 1rem 1.5rem 0rem 1.5rem;
    margin-bottom: 2.5rem;
  }
}


/* //////// COURSES SECTION //////// */

#courses-section.wrap {
  background-color: cornsilk;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1600px;
}

.course-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.course {
  box-sizing: border-box;
  justify-content: space-between;
  background-color: white;
  margin: 2rem 1rem;
  padding-bottom: 1.5rem;
  /* max-width: 30%; */
  /* need this flex-basis in order to have it display properly in Safari */
  flex-basis: 30%;
}

@media only screen and (max-width: 1120px) {
  .course {
    /* max-width: 45%; */
    flex-basis: 45%;

  }
}

@media only screen and (max-width: 800px) {
  .course {
    /* max-width: 90%; */
    flex-basis: 90%;
  }
}

@media only screen and (max-width: 700px) {
  #courses-section .img-full {
    display: none;
  }
  #courses-section .article-detail {
    display: none;
  }
  .course-listing {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .course {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
    border-right: 1pt solid bisque;
    border-bottom: 1pt solid bisque;
  }
  #courses-section .info-sub-txt h4 {
    padding-top: 1.5rem;
  }
  #courses-section .course-listing .course:first-child {
    margin-top: 2rem;
  }
  #software.course:hover, #computer-art.course:hover, #design.course:hover, #data.course:hover, #business.course:hover, #marketing.course:hover {
      background-color: orange;
      cursor: pointer;
  }
}

#courses-section h2 {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  color: #800080;
  padding-top: 2rem;
}

#courses-section h4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.1;
  color: #666666;
  padding-top: 1rem;
}

#courses-section p.article-detail {
  padding-top: 0.5rem;
}

#courses-section .img-full {
  width: 100%;
  height: auto;
}

.courses-title {
  width: 100%;
}


/* //////// THESIS SECTION //////// */

.thesis {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
}

.thesis-title {
  width: 100%;
}

#thesis-section .main_60 {
  flex-wrap: wrap;
  align-content: flex-start;
}

#thesis-section .sub_40 {
  align-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 2rem 0rem 2rem 0rem;
}

#thesis-section h2 {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  color: #800080;
  padding-top: 2rem;
}

#thesis-section h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #800080;
  padding-bottom: 0.5rem;
}

#thesis-section h4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.1;
  color: #666666;
  padding-bottom: 0.5rem;
}

#thesis-section p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #666666;
  padding-bottom: 0.75rem;
}

#thesis-section .story_main {
  padding-top: 2rem;
}

#thesis-section .info {
  display: flex;
  padding: 1rem 1.5rem 1rem 1rem;
}

#thesis-section .info:first-child {
  background-color: cornsilk;
}

.vid {
  max-width: 100%;
  max-height: 100%;
  align-self: start;
}

@media only screen and (max-width: 700px) {
  #thesis-section .sub_40 {
    display: none;
  }
  #thesis-section .main_60 {
    width: 100%;
    padding: 2rem 0rem;
  }
  #thesis-section .story_main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* //////// FOOTER //////// */
.rights {
  width: 1600px;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-top: 1px solid #664352;
}

footer p {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  color: #666666;
  margin-top: 1rem;
}

.left {
  text-align: left;
  padding-left: 1.5rem;
}

.right {
  text-align: right;
  padding-right: 1.5rem;
}
